.set_register_form {
    display:flex;
    width:95%;
    justify-content:space-between;
}

.name_register_form{
    width: 80%;
}

.member_register_form {
    width: 48%;
    
}

.buttons_area_register {
    width:85%;
    padding-top: 25px;
    display:flex;
    justify-content: space-around;
}