.main_content {
  display: flex;
  min-height: calc(100vh - 14vh);
}

.common_pattern {
  width: 100%;
  height: inherit;

  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.spinner_container {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.container_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pagination_button {
  margin: 20px;
}

.operation_area {
  text-align: center;
}

.title_modal {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_modal {
  min-height: 320px;
  max-height: 360px;
  overflow-y: auto;
}

.footer_modal {
  display: flex;
  padding: 0;
}

.close_modal_button {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.spinner {
  width: 65px;
  height: 65px;
}

.there_is_content_in_the_data {
  text-align: center;
  padding: 35px;
}

@media (max-width: 768px) {
  .main_content {
    flex-direction: column;
  }
}
