.main_content {
  display: flex;
}

.common_pattern {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .main_content {
    flex-direction: column;
  }
}
