.header-navigation {
  display: flex;
  justify-content: space-between;
  color: #fefefe;
  transition: all ease 0.2s;
  padding: 0 1rem;
  margin-right: 0;
  width: 100%;
  height: 14vh;
  background-color: #463a8b;
  align-items: center;
}

.left-region-header-navigation {
  display: flex;
  align-items: center;
}
.left-region-list-of-entities {
  display: flex;
  align-items: center;
}
.left-region-list-of-entities a {
  padding: 12px;
  text-transform: uppercase;
  margin-top: 12px;
  color: #fefefe;
}
.lista-navegacao {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: auto;
  margin-bottom: 0;
}

.item-navegacao a {
  color: #fefefe;

  margin-bottom: 0;
  text-transform: uppercase;
}

.adagio_logo {
  height: 80px;
  box-shadow: none;
}

.user_navigation_icon,
.bell_navigation {
  cursor: pointer;
}

@media (max-width: 583px) {
  .user-name-login {
    display: none;
  }
}

@media (max-width: 375px) {
  .user-navigation-icon {
    margin-right: 40px;
  }
  .item-container-icon-user {
    margin-right: 60px;
  }
}

@media (max-width: 280px) {
  .user-navigation-icon {
    padding-right: 0;
  }
}
